:root{
    --bg: #36393f;
    --foregound: #FEF3E2;
    --accent: #BEC6A0;
    --lighterBg: #4e525a;
}

@media (prefers-color-scheme: light) {
    :root{
        --bg: #FEF3E2;
        --foregound: #36393f;
        --accent: #708871;
        --lighterBg: #fcf6ec;
    }
  }

body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}


h1{
    text-align: center;
    margin: 1vh;
}

.Toolz{
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;

    margin: 5vh 5vw;
    flex-wrap: wrap;
}

.TopField{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    box-sizing: border-box;

    margin: 1vh 1vh;
    width: calc((90vw / 3) - 1vh);
    height: calc((100vh / 3) - 1vh);
    background: var(--lighterBg);
    padding: 5px;

    border-radius: 1rem;

    overflow: hidden;
}