:root{
    --bg: #36393f;
    --bg-lighter: #4d5056;
    --foregound: #FEF3E2;
    --accent: #BEC6A0;
}

@media (prefers-color-scheme: light) {
    :root{
        --bg: #FEF3E2;
        --bg-lighter: #f9f4ec;
        --foregound: #36393f;
        --accent: #708871;
    }
  }

.title{
    margin: 3vw;
    font-size: 41px;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 3vw;
}

#Passcode{
    background: var(--bg-lighter);
    border: var(--foregound) 1px solid;
    margin: 3vw 1vh;
    width: 70vw;
    height: 5vh;
    border-radius: 1vh;
    line-height: 5vh;

    font-size: 3vh;
}

#Range{
    background: var(--bg-lighter);
    border: var(--foregound) 1px solid;
    margin: 3vw 1vh;
    width: 70vw;
    height: 5vh;
    border-radius: 1vh;
    line-height: 5vh;

    font-size: 3vh;
}

#Range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--accent);
    cursor: pointer;
  }

#Range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--accent);
    cursor: pointer;
  }

button{
    width: 20vw;
    height: 5vh;
    border-radius: 1vh;
    margin: 3vw 0;
    background: var(--bg-lighter);
    border: var(--foregound) 1px solid;
}

p{
    color: var(--accent);
    font-weight: bolder;
    font-size: 32px;
}